*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    vertical-align:baseline;
    background-image: url('../images/sun.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* main */
.w-main{
    padding:3rem 1vw;
}
/*header*/
.main-header{
display: block;
padding: 2vw 2vw;
text-align: center;
}
.main-header h1{
    color: #fff;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700
}
.header-search{
    margin: 2rem 0;
}
.search-box{
    position: relative;
    display: inline-block;
    width: 55%;
}
.header-search input{
    width: 100%;
    padding: 1vw 2vw;
    border-radius: 3rem;
    outline: none;
    box-shadow: inset 0 0 10px hsl(249, 10%, 26%);
    border: 1px solid hsl(249, 10%, 26%);
}
.header-search .icon-search{
    position: absolute;
    color:black;
    top: 35%;
    right: 1.5vw;
    font-size: 1rem;    
}
/*main top bot*/
.main-top-bot{
display: flex;
flex-direction: column;
align-items: center; 
}
#js-bg-top-bot{
display: none;
width: 55%;
border: 1px solid hsl(249, 10%, 26%);
}
/*top*/
.w-main-top{
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2vw 1vw 2vw;
}

.w-main-top-left{
width: 50%;
text-align: left;
}
.w-main-top-left h2{
font-size: 3vw;
color: #fff;
font-weight: 700
}
.w-main-top-left p{
font-size: 2vw;
color: #999;
padding: 1vw 0 0 0;
}
.w-main-top-left p:first-letter{
text-transform: uppercase;
}
.w-main-top-left h3{
font-size: 1.5vw;
color: #fff;
font-weight: bold;
padding: 1vw 0;
}
.w-main-top-left h4{
    font-size: 4vw;
    color: #fff;
    font-weight: bold;
}

.w-main-top-right {
position: relative;
width: 50%;
text-align: center;
}
.w-main-top-right img{
position: absolute;
top: 0;
width: 50%;
height: auto;
}
.w-main-top-right div{
padding: 1rem 0;
}
#js-local-time{
position: absolute;
font-size: 2.4vw;
color: #4bba9f;
font-weight: 600;
right: 1vw;
bottom: 2vw;
}
#js-local-day{
position: absolute;
font-size: 1.3vw;
color: #fff;
right: 1vw;
bottom: 0;
}
/*bot left*/
.w-main-bot{
    display: flex;
}
.w-main-bot-left{
width: 40%;
padding: 4vw 2vw;
background: rgba(95, 252, 204, 0.69);
}
.bot-item{
display: flex;
justify-content: space-between;
}
.item{
font-weight: 600;
letter-spacing: 1px;
font-size: 1.5vw;
letter-spacing: 1px;
}
.item h3{
text-transform: uppercase;
color: #212121;
}
.item p{
font-size: 1.5vw;
color: #1b4e3f;
}
.icon canvas{
    width: 9vw;
    height: 4vw;
}
/*bot-right*/
.w-main-bot-right{
    width: 60%;
    background: rgba(255, 8, 8, 0.6);
    padding: 1vw;
    margin: 0 auto;
    font-weight: 600;
}
.tab{
    display: inline-flex;
    width: 100%;
}
.bot-day{
    width: 100%;
}
.bot-day div {
    border-bottom: 2px solid black;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 0.5vw 1vw;
    font-weight: 800;
}
.bot-day div:active{
    color: #fff ;
    border-color: #18e9a7;
}
#js-day-two{
    color: #fff ;
    border-color: #18e9a7;
}
.day{
    display: none;
    color: #fff;
    font-size: 1.2vw;
    padding: 2vw 7vw;
}
#js-forecast-two{
    display: block;
}
.bot-hour{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vw;
}
/*footer*/
.main-footer{
    font-size: 1.5vw;
    color: #fff;
    line-height: 1.8rem;
    padding: 3rem 1vw 1rem 1vw;
    text-transform: capitalize;
    align-items: flex-end;
    text-align: center;
}
/* Media Query*/
@media screen and (max-width: 799px){
    .header-search input{
        padding: 2.5vw 4vw;
    }
    .header-search .icon-search{
        right: 4vw;    
    }
    .w-main-top-right div{
        padding: 0.5rem 0;
    }
    .w-main-top-right img{
        width: 45%;
    }
}
